/* header.css */
header {
    background-color: #141414;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Schatten für eine dezentere Trennung */
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.header-content h1 {
    font-family: 'Netflix Sans', Arial, sans-serif;
    font-size: 24px;
    margin-top: 0;
}

.form-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
}

.search-button {
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #89050c;
}

.search-button:focus {
    outline: none;
}