input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;

}
.container {
    padding: 25px;
    background-color: lightblue;
}